<div class="hline2">
    <div class="container_12">
        <div class="grid_12">

            <div class="slider_wrapper">
                <div class="" id="camera_wrap">
                    <div data-src="images/slide1.jpg">
                        <div class="caption fadeIn">
                            <div class="caption_bg">
                                <span class="slider_txt1">بهترین محصولات بهداشتی  </span>
                                <div class="slogans_bottom">
                                    <span class="slider_txt2">انواع لوازم و ابزار نظافت و شستشو و ابزار و وسایل گردگیری</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="images/slide2.jpg" style="height: 80% !important;">
                        <div class="caption fadeIn">
                            <div class="caption_bg">
                                <div class="slogans_bottom">
                                    <span class="slider_txt2"> ارائه ی لوازم خانگی آلمانی</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="hline2 v2">
    <div class="container_12">
        <div class="grid_12">
            <h2>محصولات</h2>

            <div class="list_carousel responsive">
                <ul id="carousel">
                    <li>
                        <figure><a href="images/page1_big_pic1.jpg" class="magnifier2"><img src="images/page1_pic1.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">اجاق گاز اخوان</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic2.jpg" class="magnifier2"><img src="images/page1_pic2.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">یخچال امرسان</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic3.jpg" class="magnifier2"><img src="images/page1_pic3.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">مایع تمیز کننده clean</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic4.jpg" class="magnifier2"><img src="images/page1_pic4.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">یخچال فریزر ساید بای ساید </span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>

                    <li>
                        <figure><a href="images/page1_big_pic1.jpg" class="magnifier2"><img src="images/page1_pic1.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">اجاق گاز اخوان</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic2.jpg" class="magnifier2"><img src="images/page1_pic2.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">یخچال امرسان</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic3.jpg" class="magnifier2"><img src="images/page1_pic3.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">مایع تمیز کننده clean</span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>
                    <li>
                        <figure><a href="images/page1_big_pic4.jpg" class="magnifier2"><img src="images/page1_pic4.jpg" alt=""><span class="zoom"></span></a></figure>
                        <p><span class="txt2">یخچال فریزر ساید بای ساید </span><br>توضیحات اینجا قرار میگیرد<br></p>
                    </li>


                </ul>
                <div class="clear"></div>
                <div class="carousel_btns">
                    <a class="prev" id="prev" href="javascript:;"></a>
                    <a class="next" id="next" href="javascript:;"></a>
                </div>
            </div>



        </div>
    </div>
</div>

 